{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}

{% block main_area %}
<div class="card">
    <div class="card-header"><i class="fas fa-edit"></i> 댓글 수정</div>
    <div class="card-body">
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <!-- AI 댓글 보조 패널 -->
            {% include 'blog/_ai_assist_panel.html' with panel_id='comment-edit' panel_mode='comment' textarea_id='id_content' %}
            <div class="mt-3">
                <button type="submit" class="btn btn-primary">수정 완료</button>
                <a href="{{ object.get_absolute_url }}" class="btn btn-secondary ml-2">취소</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}
